


*{
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: rgb(197, 149, 157);
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.card{
    font-family: 'Dancing Script', cursive;
    width: 350px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    border: 8px solid #fff;
    position: relative;
}


.card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.card-body{
    text-align: center;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background: rgba(255, 171, 186, 0.562);
    backdrop-filter: blur(3px);
    border-radius: 15px;
    color: rgb(255, 255, 255);
    text-shadow: rgb(107, 104, 104) 1px 0 5px;
    font-size: 25px;
    font-weight: 600;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
}

.card-tite{
    font-size: 50px;
    
}


.card:hover .card-body{
   right: 0;
}

.card-sub-title{
    font-size: 14px;
    font-weight: 300;
}

.card-info{
    font-size: 20px;
    line-height: 25px;
   
}

.gift{
    color: lightgoldenrodyellow;
    margin: 10px 0;
    
    letter-spacing: 5px;
}

.code{
    font-family: sans-serif;
    letter-spacing: 5px;
    text-decoration: underline;
    color: lightgoldenrodyellow;
}